:root {
  --primary: #f8e6dc;
  --secondary: #9c4a55;
  --tertiary: #4f563f;
  --quaternary: #c8a464;
  --error: #c53655;
  --warning: #cf5500;
  --info: #89bc00;
  --success: #34bd6f;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* html, */
body {
  overflow-x: hidden;
}

div #map path:hover {
  fill: var(--tertiary);
}

/* Title section wave */
.custom-shape-divider-top-1625571579 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1625571579 svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 79px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1625571579 .shape-fill {
  fill: var(--primary);
}

/* Resource section wave */
.custom-shape-divider-top-1625586722 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1625586722 svg {
  position: relative;
  display: block;
  width: calc(174% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1625586722 .shape-fill {
  fill: #ffffff;
}
